{% load staticfiles %}
{{ form.media.css }}
{{ form.media.js }}
<html>
  <head>
    <title>Treasy</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/curso.css' %}">
    <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
    </style>
</head>
<body>

    <div id="cabecalho" class="jumbotron text-center" style="margin-bottom:0">
      <h1>Organizando o Financeiro </h1>
      <p>Gestão de empresas</p>
    </div>
    <div class="menu" >
        <nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

          <div class="collapse navbar-collapse justify-content-between align-items-center" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto text-center">
              <li class="nav-item">
                <a class="nav-link" href="#">O Curso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cronograma</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Perguntas Frequentes</a>
              </li>

            </ul>
          </div>
        </nav>
    </div>
    <div id="img">
      <img style="width: 50%; height: 60%;position:absolute; right: 330px;"
      alt="Image description"
      src="{% static 'images/img2.png' %}"/>
      <a href="{% url 'cadastro' %}"><input style="position:absolute; right: 200px;" type =button value='Cadastrar'></a>
      <br>
      

    </div>
    <footer>
      <div id="footer" class="footer">
          Treasy | Orçamento Empresarial, Planejamento e Controladoria
      </div>
    </footer>
  </body>
</html>
